body{
    background-color: rgba(180, 0, 0, 0.9)
}

section#interface{
    background-color: white;
    margin: auto;
    width: 500px;
    text-align: center;
    font-size: 19px;
    padding: 8px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Roboto;
}
input#btn:hover{
    background-color: silver;
    transform: scale(1.1)
}
select{
    width: 300px;
    height: 175px;
}